.wrapper{
  text-align: center;
}
.Li{
  list-style-type: none;
}

.neg{
  color: red;
}

.pos{
  color: green;
}

.crosbtn{
  color: white;
  font-size: 20px;
  background-color: tomato;
}

.list{
  border: 5px ;
}

.transtext{
  padding-left: 15px;
  font-size: 20px;
}